<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<body>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</body>

<script>
var xValues = <%= @items.pluck(:item).to_json.html_safe %>;
var yValues = <%= @items.pluck(:price).to_json.html_safe %>;

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      data: yValues
    }]
  },
});
</script>